<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            img(src=`/${user.avatar}` alt="Profile Picture" style="width:100px, height: 100px")
        </div>
        <div>
            <h3>Welcome, #{user.name}</h3>
        </div>
        <div>
            <p>E-mail: #{user.email}</p>
        </div>
        <div>
            <p>Age: #{user.age}</p>
        </div>
        <div>
            <p>Gender: #{user.gender}</p>
        </div>
        <div>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>